<!DOCTYPE html>
<html>
<head>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-
    T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
    />
    <!--<link rel="stylesheet" href="../resources/styles.css">-->

<title>Samuel Rowland - Class of 2026</title>
</head>
<body>
<div id="navbar-container"></div>
<h1 id="greetingsHeader">Samuel Rowland's very first paragraph: </h1>
<h2></h2>
<p>Greetings, my name is Samuel Rowland. I am a student at Villanova University. I am currently in the process of begining my Junior year. My major is Philosophy, but I am planning on completing a minor in computer science. After, I finish college I plan on applying to law school. Overall, I'm pretty content with how this year seems to be turning out.
    I have realized that I still need to write a bunch more words to fill this thing out. I'm hoping that this whole thing will work out in the end. I need something else to write about.
    I have been thinking lately, I wonder what computer science will look like in 50 years. I would wonder if coding in the sense that we understand it would even exist. I have a family friend who was one of the first people to recieve a degree in Computer Science. The information that she told me about her education, was facinating. I imagine that given another 50 years, it will look practically unrecognizable to me. I guess that's the way of the world. Time trudges on.... Oh well. I think that I have a good amount writen now.
</p>
<img
src="../resources/Samuel.jpg"
alt="An image of a dog that was given to me"
width="220px"
class="rounded-circle border border-secondary border border-5"
/>
<a href="https://www1.villanova.edu/university/liberal-arts-sciences/programs/computing-
sciences.html">Link to Villanova Computing Sciences Department </a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="../resources/js/script.js"></script>
<script src="../resources/js/navbar.js"></script>
<script> loadNavbar(); // Call the function to load the navbar </script>
<script> welcomeGreeting(); // Call the function to greet user </script>
</body>
</html>